html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  touch-action: none;
}

html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 9pt;
  background-color: #2d2d2d;
  color: #9a9a9a;
}

#volume-step {
  display: none;
}

input {
  border: 1px solid #3a3a3a;
  background-color: #3d3d3d;
  color: #ffffff;
  outline: none;
  padding: 4px 2px;
  width: 18.5rem;
}

div.pi-prop-label {
  width: 85px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 9px;
}

.pi-prop {
  flex-direction: row;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#getting-started-link {
  cursor: pointer;
  color: red;
}

#general-info {
  margin-top: 25px;
  margin-left: 10px;
}
